body {
	position: relative;
	top: 20px;
	background-color: black;
	font-family: roboto, helvetica, "sans-serif";
	width: 100%;
}

h1 {
	font-size: 4em;
	color: white;
	text-align: center;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

img {
	display: block;
	width: 50%;
	margin: 30px auto 10px auto;
}

a {
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	font-weight: 700;
	color: white;
}

p {
	color: white;
}

.category {
	font-size: 1.5em;
	text-align: center;
}

.tags {
	text-align: center;
}

a:hover {
	color: grey;
}