body {
	position: relative;
	top: 20px;
	background-color: black;
	font-family: roboto, helvetica, "sans-serif";
	width: 100%;
}

h1 {
	font-size: 4em;
	color: white;
	text-align: center;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

img {
	display: block;
	width: 50%;
	margin: 30px auto 10px auto;
}

a {
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	font-weight: 700;
	color: white;
}

p {
	color: white;
}

.category {
	font-size: 1em;
	text-align: center;
	line-height: 0.5em;
}

.tags {
	text-align: center;
}

#show-tags {
	background-color: #19a337;
	border-radius: 5px;
	display: inline;
	padding: .5em;
	font-size: .75em;
	margin: 1em;
	box-sizing: border-box;
}

#tags-container {
	display: flex;
	justify-content: center;
	padding: 0;
}

#show-tags:hover {
	background-color: #777;
}

.comment {
	border: 1px solid white;
	padding: 1em;
	width: 75%;
	margin: 0 auto;
}

#comments-container h4 {
	font-weight: bold;
	color: white;
}

#comments-container h2 {
	color: white;
	text-align: center;
}

a:hover, .category:hover {
	color: grey;
}

#add-comment {
	color: white;
}

textarea {
	width: 75%;
	height: 200px;
}

button.add-tag-button {
	margin: 0 auto;
	display: block;
	background-color: white;
	border: none;
	padding: 1em;
	font-weight: bold;
}

#add-tag {
	width: 100%;
}

#tag-input {
	margin: 0 auto;
	display: block;
}