<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title th:text="${review.title}"></title>
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700}"
		rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="../static/css/singleLayout.css"
		th:href="@{/css/singleLayout.css}" rel="stylesheet" />
	

	
</head>
<body>

	<a href="http://localhost:8080/show-reviews">Back to all reviews</a>
	<h1 th:text="${review.title}"></h1>
	<p>
		<!-- Category: -->
		<p id="category-header">Category:</p>
		<a th:href="@{${'http://localhost:8080/category?id=' + category.id}}"><span
			class="category" th:text="${category.name}"></span></a>
	</p>
	<br />
		<!-- Tags: -->
		<div>
			<p id="tags-header">Tags:</p>
			<ul id = "tags-container">
				<li th:each="tag: ${tags}" class="show-tags">
					<a class="tag" th:text="${tag.name}"  th:href="@{/tag(id=${tag.Id})}" th:data-id="${tag.id}"></a>
					<a href = "javascript:void(0)" class="delete" th:data-id="${tag.id}"><i class="fa fa-trash" aria-hidden="true"></i></a>
					
					
				</li>
			
			</ul>
			
		</div>
		<div id="add-tag">
		<button class="add-tag-button" th:data-id="${review.id}">Add Tag</button>
		</div>
	<hr />
	<img th:src="@{${'/images/' + review.imageUrl}}" />
	<p th:text="${review.content}"></p>
	<form method="POST" id="add-comment">
		<div>
			<label id="usernameLabel">Username:</label>
			<input type="text" name="userName" value = "Anonymous" />
		</div>
		<div>
			<label id="commentLabel">Comment:</label>
			<textarea name="content"></textarea>
		</div>
		<input type="hidden" id="review-id" name="reviewId" th:attr="value = ${review.id}" />
		<div>
			<button th:formaction="@{add-comment}">submit</button>
		</div>
	</form>
	
	<div id="comments-container">
		<h2>Comments</h2>
		<div class="comment" th:each="comment: ${comments}">
			<h4 th:text="${comment.userName}"></h4>
			<p th:text="${comment.content}"></p>
		</div>
	</div>
	
	<script th:src="@{/js/review.js}"></script>
</body>
</html>