<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Film Reviews</title>
		<link
			th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700}"
			rel='stylesheet' type='text/css' />
		<link href="../static/css/multiLayout.css"
			th:href="@{/css/multiLayout.css}" rel="stylesheet" />
	</head>
	<body>
		<h1>Film Reviews</h1>
		<hr />
		<div class="grid-container">
		<div class="review" th:each="review: ${reviews}">
			<ul>
				<li>
					<a th:href="@{/review(id=${review.Id})}">
						<div class="img-container">
							<img th:src="@{${'/images/' + review.imageUrl}}" />
						</div> <!--<img th:src="@{${review.imageUrl}}"/> -->
						<h4 class = "title" th:text="${review.title}"></h4>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>