<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title th:text="${review.title}"></title>
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700}"
		rel='stylesheet' type='text/css' />
	<link href="../static/css/singleLayout.css"
		th:href="@{/css/singleLayout.css}" rel="stylesheet" />
</head>
<body>
	<h1 th:text="${review.title}"></h1>
	<p>
		<!-- Category: -->
		<a th:href="@{${'http://localhost:8080/category?id=' + category.id}}"><span
			class="category" th:text="${category.name}"></span></a>
	</p>
	<hr />
	<img th:src="@{${'/images/' + review.imageUrl}}" />
	<p th:text="${review.content}"></p>
	<a href="http://localhost:8080/show-reviews">Back to all reviews</a>
</body>
</html>